
.register_form .container{
    border:1px solid #ccc;
}
.register_form .title{
    height:60px;
    background-color:#FAFAFA;
    line-height: 60px;
    font-size:18px;
    color:#999;
    padding-left:90px;
}
.resign{
    padding-top:33px;
    padding-left:90px;
}
.resign{
    width:580px;
}
.resign_tab{
    height:40px;
    border-bottom:1px solid #ccc;
    color:#E02D2D;
    margin-bottom:30px;
}
.resign_tab .setBorder{
    display:block;
    width:170px;
    height:38px;
    line-height:40px;
    padding-left:90px;
    border:1px solid #ccc;
    border-bottom:0px none;
    border-top:3px solid #E02D2D;
    background-color: #fff;
    position: relative;
}
.icon_tel{
    width:15px;
    height:23px;
    display:block;
    background: url('../img/sprite.fw.png') no-repeat -22px 0;
    position: absolute;
    top:8px;
    left:50px;
}
.resign_form{
    margin-top:18px;
    color:#666;
}
.setColor{
    color:#E02D2D;

}
.register_form .container{
    margin-bottom:50px;
}
label{
    display: inline-block;
    width:80px;
    text-align: right;
}
#getRandomNum{
    display:inline-block;
    padding:8px 12px;
    border:1px solid #ccc;
    background-color:red;
    color:white;
    vertical-align: middle;
}
#getNoteNum{
    display:inline-block;
    padding:8px 12px;
    font-size:14px;
    border:1px solid #ccc;
    vertical-align: middle;    
}
.resign_form:nth-of-type(1) input,.resign_form:nth-of-type(4) input,.resign_form:nth-of-type(5) input{
   width:286px;
   height:38px;
   border:1px solid #ccc;
   margin-left:10px;
   padding-left:12px;
   font-size:16px;   
}
.resign_form:nth-of-type(2) input,.resign_form:nth-of-type(3) input{
    width:166px;
    height:38px;
    border:1px solid #ccc;
    margin-left:10px;
    padding-left:12px;
    font-size:16px;
}
.tips{
    font-size:12px;
    color:#aaa;
    margin-top:10px;
    padding-left:90px;
}
.agreement{
    display:block;
    width:486px;
    text-align: left;
    padding-left:90px;
    font-size:12px;
    padding-top:22px;
    padding-bottom:22px;
}
.resign_btn{
    display:block;
    height:40px;
    width:288px;
    color:#fff;
    font-weight:bold;
    line-height:40px;
    text-align: center;
    background-color:#E02D2D;
    margin-left:90px;
    margin-bottom:100px;
}
.resign_link{
    width:280px;
    margin-top:33px;
    border-left:1px solid #f5f5f5;
}
.links{
    margin-left:25px;
    width:170px;
    font-size:12px;
    line-height: 24px;
}
.links .thirdLink{
    display:block;
    margin:16px 0;
}
.inputTips{
    color:red;
    font-size:12px;
}